@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.animated-dotted-line {
  stroke-dasharray: 15, 15;
  stroke-dashoffset: 30;
  animation: dash 0.6s linear infinite;
  stroke-linecap: round; /* Add this line */
}
