/* Style for the scrollbar track */
.content-component::-webkit-scrollbar-track {
  background-color: #f3f4f6; /* Light grey track */
}

/* Style for the scrollbar thumb */
.content-component::-webkit-scrollbar-thumb {
  background-color: #94a3b8; /* Darker grey thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

/* Style for when the scrollbar thumb is hovered */
.content-component::-webkit-scrollbar-thumb:hover {
  background-color: #64748b; /* Even darker color on hover */
}

/* Set the width of the scrollbar */
.content-component::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}
